/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* le immaginette della terza sezione vanno settate con questo codice se no non vengono */
#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* ho messo uno sfondo più scuro che se no non si vede */
.grigia {
  background-color: lightgrey/*#f9f9f9*/;
}

.sezione {

  margin-bottom: 6%;
  padding: 5%;
  text-align: center;
}

.row * {
  padding: 1%;
}

.final {
  border-bottom: 2px solid grey;
  padding-top: 10%;
}

/* versione smartphone */
@media all and (max-width: 768px) {

  img {
    height: 100px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

}

/* versione tablet */
@media all and (min-width: 769px) and (max-width: 992px) {
  img {
    height: 150px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }


}

/* versione desktop */
@media all and (min-width: 993px) {
  img {
    height: 200px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

}
